<?xml version="1.0" ?>
<config>
    <modules>
        <Thesagaydak_Siteblocks>
            <version>1.0.0</version>
        </Thesagaydak_Siteblocks>
    </modules>
    <global>
        <blocks>
            <siteblocks>
                <class>Thesagaydak_Siteblocks_Block</class>
            </siteblocks>
        </blocks>
        <models>
            <siteblocks>
                <class>Thesagaydak_Siteblocks_Model</class>
                <resourceModel>siteblocks_resource</resourceModel>
            </siteblocks>
            <siteblocks_resource>
                <class>Thesagaydak_Siteblocks_Model_Resource</class>
                <entities>
                    <block>
                        <table>thesagaydak_siteblock</table>
                    </block>
                </entities>
            </siteblocks_resource>
        </models>
        <resources>
            <siteblocks_setup>
                <setup>
                    <module>Thesagaydak_Siteblocks</module>
                </setup>
            </siteblocks_setup>
        </resources>
        <helpers>
            <siteblocks>
                <class>Thesagaydak_Siteblocks_Helper</class>
            </siteblocks>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <siteblocks module="siteblocks">
                    <file>siteblocks.xml</file>
                </siteblocks>
            </updates>
        </layout>
        <routers>
            <siteblocks>
                <use>standard</use>
                <args>
                    <module>Thesagaydak_Siteblocks</module>
                    <frontName>siteblocks</frontName>
                </args>
            </siteblocks>
        </routers>
        <translate>
            <modules>
                <Thesagaydak_News>
                    <fields>
                        <default>Thesagaydak_News.csv</default>
                    </fields>
                </Thesagaydak_News>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <siteblocks before="Mage_Adminhtml">Thesagaydak_Siteblocks_Adminhtml</siteblocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <translate>
            <modules>
                <Thesagaydak_News>
                    <fields>
                        <default>Thesagaydak_News.csv</default>
                    </fields>
                </Thesagaydak_News>
            </modules>
        </translate>
    </admin>
    <default>
        <siteblocks>
            <settings>
                <enabled>1</enabled>
            </settings>
        </siteblocks>
    </default>
</config>