<?xml version="1.0"?>
<config>
    <tabs>
        <thesagaydak translate="label" module="siteblocks">
            <label>Thesagaydak</label>
            <sort_order>2</sort_order>
        </thesagaydak>
    </tabs>
    <sections>
        <siteblocks module="siteblocks" translate="label">
            <label>Siteblocks</label>
            <tab>thesagaydak</tab>
            <frontend>text</frontend>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_Website>1</show_in_Website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings module="siteblocks" translate="label">
                    <label>Settings</label>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_Website>1</show_in_Website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled module="siteblocks" translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <comment>Is module enabled</comment>
                        </enabled>
                        <blocks module="siteblocks" translate="label comment">
                            <label>Blocks</label>
                            <frontend_type>select</frontend_type>
                            <source_model>siteblocks/source_blockcount</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment>The count of blocks</comment>
                        </blocks>
                    </fields>
                </settings>
            </groups>
        </siteblocks>
    </sections>
</config>